.nav-links {
  display: flex;
  justify-content: inline-block;
  list-style: none;
  padding: 10px 20px;
  background-color: darkolivegreen;
}
body {
  background-color: white;
  color: black;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.main img {
  width: 100%;
  object-fit: cover;
  border: 0;
  height: auto;
}

h1 {
  padding-left: 50px;
}

.main {
  position: relative;
  width: 100%;
}

.main button {
  position: absolute;
  top: 80%;
  left: 10%;
  height: 50px;
  width: 180px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 800;
  border: none;
}

.main > h2 {
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  top: 5%;
  left: 10%;

  color: white;
}
